
@import './normalize';
@import './veriables';
@import './_mixins';



.bigcontainer {
  width: 100%;
  width: 1312px;
  // padding: 0 15px;
  margin: 0 auto;
  box-sizing: border-box;
 }


.container {
  width: 100%;
  width: 1088px;
  // padding: 0 15px;
  margin: 0 auto;
  box-sizing: border-box;

  @media screen and (max-width: 992px) {
    
    max-width: 960px;
    
  }

  @media screen and (max-width: 768px) {
    max-width:720px;
  }

  @media screen and (max-width: 576px) {
    max-width: 540px;
  }
}








body {
  background: #F4F7FB;
  overflow-x: hidden;
}

.overlay {
  position: fixed;
  height: 0%;
  transition: all ease 0.8s;
  width: 100%;
  z-index: 9;
  margin: auto;
  top: 0;
  /* bottom: 0; */
  left: 0;
  right: 0;
  bottom: 0;
  background: #5D748A;
  opacity: 0.7;
}

.overlay.visible {
  height: 100%;
}
.form.opened {
  display: block;
  display: flex;
  flex-direction: column;
}

.form {
  display: none;
  position: absolute;
  width: 504px;
  height: 640px;
  padding: 44px 64px;
  box-sizing: border-box;
  transition: all ease 0.8s;
  left: 0px;
  top: 0px;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 10;
  background: #FFFFFF;
  border-radius: 24px;
  box-sizing: border-box;

  // display: block;
  // display: flex;
  // flex-direction: column;
  &-java {
    &__img {
      position: absolute;
      right: 44px;
      top: 55px;
    }
  }
  
  &__title {
    
    font-family: Proxima Nova Soft;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;

    /* TextC / DarkC */
    margin-bottom: 32px;
    color: #5D748A;
  }
  &__label {
    font-family: Proxima Nova Soft;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 20px;
    margin-bottom: 8px;
    /* TextC / DarkC */

    color: #5D748A;
  }
  &__inp {
    margin-bottom: 24px;
    padding: 15px;
    border-radius: 24px;
    border: 1px solid #dedede;
    &::placeholder {
      font-family: Proxima Nova Soft;
      font-style: normal;
      font-weight: 500;
      font-size: 17px;
      line-height: 20px;
      
      display: inline-block;
      color: #5D748A;

      opacity: 0.5;
    }
  }
  &__btn {
    font-family: Proxima Nova Soft;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    background: linear-gradient(166.82deg, #FEA244 -0.4%, #FD9147 61.84%);
    box-shadow: 0px 4px 22px rgba(253, 145, 71, 0.4);
    border-radius: 50px;
    color: #FFFFFF;
    margin-bottom: 16px;
    padding: 15px 0;
  }
  &-main {
    margin-bottom: 32px;
    display: flex;
    justify-content: space-between;
    &__check{
      font-family: Proxima Nova Soft;
      font-style: normal;
      font-weight: 500;
      font-size: 17px;
      line-height: 20px;

      color: #5D748A;

      opacity: 0.5;
    }
    &__link {
      font-family: Proxima Nova Soft;
      font-style: normal;
      font-weight: 500;
      font-size: 17px;
      line-height: 20px;
      text-align: right;

      color: #FF5F5F;
    }
  }

  &__text {
    font-family: Proxima Nova Soft;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    margin-bottom: 0px;
    color: #FEA244;
  }
  &__link {
    font-family: Proxima Nova Soft;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    margin: auto;
    color: #FEA244;
    background: #FFFFFF;
    border-radius: 24px;
    padding: 15px 24px;
    border: 1px solid #FEA244;
    width: 176px;
  }
}



.header {
  border-top: 4px solid #7569DE;
  
  position: fixed;
  z-index: 2;
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.04);
  backdrop-filter: blur(4px);
  /* Note: backdrop-filter has minimal browser support */
  &-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-left {
      &-logoLink {
        &__img{
          width: 70.57px;
          height: 56px;
          object-fit: contain;
          margin-right: 23.43px;
          padding: 14px 0;
        }
        display: flex;
        align-items: center;
        width: 290px;
        font-family: Proxima Nova Soft;
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 110.84%;
        color: #5D748A;
      }
      
    }
    &-right {
      &-link {
        padding: 0 16px;
        font-family: Proxima Nova Soft;
        font-style: normal;
        font-weight: 500;
        font-size: 17px;
        line-height: 20px;

        /* TextC / DarkC */

        color: #5D748A;
        &--hous {
          position: relative;
          &:before {
            @include beforeAfter(url('../images/icons/hous.svg'),transparent,contain,center,21.59px,18.7px,0,3px,0,-100px);
          }
        }
        &--ozb {
          position: relative;
          padding-left: 90px;
          &:before {
            @include beforeAfter(url('../images/icons/ai.svg'), transparent, contain, center, 21.59px, 18.7px, 0, 0px, 0, 0px);
          }
        }
        
      }

    }

  }
}

.secondaryBtn {
  padding: 8px 16.5px 8px 44.5px;
  background: #FFFFFF;
  border-radius: 24px;
  border: 1px solid #fd9147;
  position: relative;
  font-family: Proxima Nova Soft;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;

  /* TextC / DarkC */

  color: #5D748A;
  &:before {
    @include beforeAfter(url('../images/icons/man.svg'), transparent, contain, center, 21.59px, 18.7px, 0, 3px, 0, -63px);
    background-repeat: no-repeat;
  }
  &--bgc {
    padding: 14px 24px;
    background-color: #fd9147;
    border: none;
    font-family: Proxima Nova Soft;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    // display: block;
    color: #FFFFFF;

    &:before {
      display: none;
    }
  }
  &--weiht {
    padding: 14px 47px;
    background-color: #fff;
    // border: none;
    font-family: Proxima Nova Soft;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    // display: block;
    color: #4A4952;

    &:before {
      display: none;
    }
  }

  &--wellow {
    background: linear-gradient(166.82deg, #FEA244 -0.4%, #FD9147 61.84%);
    box-shadow: 0px 4px 22px rgba(253, 145, 71, 0.4);
    border-radius: 50px;
    width: 159px;
    font-family: Proxima Nova Soft;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 20px;
    margin: 0;
    color: #FFFFFF;
    &::before {
      display: none;
    }

  }
  &--toshkent {
    border-radius: 50px;
    padding: 15px 50px 15px 15px;
    font-family: Proxima Nova Soft;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;

    color: #4A4952;
    &::before {
      @include beforeAfter(url('../images/icons8-chevron_right3.svg'), transparent, cover, center, 40px, 40px, 0, -10px, 0, 125px,);

    }

  }
  &--arrow1 {
    border: none;
    background: none;
    font-family: Proxima Nova Soft;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    color: #FEA244;
    // position: absolute;
    padding-right: 50px;
    display: flex;
    justify-content: flex-end;
    // margin-bottom: 40px;
    top: -35px;
    position: relative;
    &::before {
      @include beforeAfter(url('../images/arraw.svg'));
      background-repeat: no-repeat;
      right: 0px; 

      left: 1630px;
      position: absolute;
      
      
    }  
  }
  &--arrow2 {
    border: none;
    background: none;
    font-family: Proxima Nova Soft;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    color: #FEA244;
    // position: absolute;
    padding-right: 50px;
    display: flex;
    justify-content: flex-end;
    // margin-bottom: 40px;
    top: -35px;
    position: relative;
    &::before {
      @include beforeAfter(url('../images/arraw.svg'));
      background-repeat: no-repeat;
      right: 0px; 

      left: 1630px;
      position: absolute;
      
      
    }  
  }
  &--arrow3 {
    border: none;
    background: none;
    font-family: Proxima Nova Soft;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    color: #FEA244;
    // position: absolute;
    padding-right: 50px;
    display: flex;
    justify-content: flex-end;
    // margin-bottom: 40px;
    top: 16px;
    position: relative;
    &::before {
      @include beforeAfter(url('../images/arraw.svg'));
      background-repeat: no-repeat;
      right: 0px; 
      top: -25px;    
      left: 150px;
      position: absolute;
      
      
    }  
  }
}
.secondaryBtn--arrow23 {
  border: none;
  background: none;
  font-family: Proxima Nova Soft;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: #FEA244;
  // position: absolute;
  padding-right: 50px;
  display: flex;
  justify-content: flex-end;
  // margin-bottom: 40px;
  top: 0px;
  position: relative;

  &::before {
    @include beforeAfter(url('../images/arraw.svg'));
    background-repeat: no-repeat;
    right: 0px;

    left: 150px;
    // top: 50px;
    position: absolute;


  }
}

.section1 {
  // @include backgroundImg(url('../images/Vector1.png'),transparent,cover,);
  @include backgroundImg(url('../images/Vector2.png'), transparent,cover,  );
  // background-image: url('../images/Vector1.png');
  z-index: 1;
  position: relative;
  margin-bottom: 164px;
  &::before {
    z-index: -1;
     @include beforeAfter(url('../images/Vector1.png'), transparent, cover, center, 100%, 100%, 0, 0px, 0, 0px);
     background-position-y: -350px; 
     background-position-x: 130px;
     background-repeat: no-repeat;
     
  }
  &__img {
    width: 236px;
    height: 177px;
    object-fit: contain;
    top: 300px;
    left: -32px;
    position: absolute;
  }
  &-topImg {
    
    &__img {
      position: absolute;
      right: 0;
      &--pad {
        top: 300px;
      }
    }
  }
  &-inner {
    display: flex;
    align-items: center;
    &-left {
      padding: 0 0 0 111px;
      &__title {
        font-family: Proxima Nova Soft;
        font-style: normal;
        font-weight: bold;
        font-size: 42px;
        line-height: 125.34%;
        color: #5D748A;
        width: 533px;
        padding: 0px 0 0 0px;
        margin-bottom: 64px;
      }
    }
    &-right {
      margin-bottom: 21px;
      &__img {
        padding-top: 158px;
      }
    }
  }
  &-dots {
    display: flex;
    justify-content: center;
    margin-bottom: 168px;
    padding-bottom: 164px;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      background: url('../images/Group2-removebg-preview.png'),url('../images/tomchi.png');
      background-repeat: no-repeat;
      background-size: auto;
      background-position: left, right ;
      width: 1291px,;
      height: 178px;
      left: 300px;

    }
    &__span {
      width: 12px;
      height: 12px;
      background: #FEA244;
      border-radius: 50%;
      display: block;
      margin-right: 8px;
      &--center {
        width: 140px;
        border-radius: 24px;
      }
    }
  }
  &__img2 {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  &-images {
    position: absolute;
    background-color: transparent;
    &__img {
      position: absolute;
      &--midl {
        position: absolute;  
        left: 200px;
      }
      &--last {
        position: absolute;
        left: 1300px;
      }
    }
  }
}

.section2 {
  background: #5d748a;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  margin-bottom: 64px;
  &-inner {
    display: flex;
    // align-items: center;
    // justify-content: center;
    height: 255px;
    &-block {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-top: 40px;
      position: absolute;
      // align-items: center;
      padding-left: 111px;
      justify-content: center;
      &__title {
        width: 275px;
        font-family: Proxima Nova Soft;
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 162.5%;
        /* identical to box height, or 52px */

        letter-spacing: 0.12px;
        margin-bottom: 8px;
        color: #FFFFFF;

      }
      &__text {
        font-family: Proxima Nova Soft;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 162.5%;
        /* or 29px */
        margin-bottom: 36px;
        letter-spacing: 0.12px;

        color: #FFFFFF;
      }
    }
    &__img {
      // width: 600px;
      height: 259px;
    }
  }
}



.section3 {
  position: relative;
  &__img1 {
    position: absolute;
    right: 0;
    top: 60px;
  }
  margin-bottom: 260px;
  &-inner {
    &-top {
      display: flex;
      margin-bottom: 32px;
      &-link {
        position: relative;
        width: 304px;
        height: 216px;
        border-radius: 16px;
        margin-right: 32px;
        &__img {
          margin: auto;
          &--play{
            position: absolute;
            width: 40px;
            height: 40px;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;

          }
        }
        &__text {
          position: absolute;
          // left: 0;
          bottom: 0;
          font-family: Proxima Nova Soft;
          font-style: normal;
          font-weight: bold;
          font-size: 18px;
          line-height: 22px;
          letter-spacing: 0.12px;
          // width: 264px;
          color: #FFFFFF;  

          &--title {
            left: 20px;
            bottom: 20px;         
          }
          &--data {
            left: 20px;
            top: 20px;         
          }
          &--futbol {
            right: 20px;
            top: 20px;         
          }
        }
      }
      &-news {
        &__title {
          font-family: Proxima Nova Soft;
          font-style: normal;
          font-weight: bold;
          font-size: 32px;
          line-height: 125.34%;
          color: #558EF7;
          margin-bottom: 16px;
        }
        &__text {
          font-family: Proxima Nova Soft;
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 125.34%;
          color: #5D748A;
          width: 413px;
          margin: auto;
          margin-bottom: 26px;
        }
        &__link {
          font-family: Proxima Nova Soft;
          font-style: normal;
          font-weight: 500;
          font-size: 17px;
          line-height: 20px;
          color: #FD9147;
          position: relative;
          &::before {
            content: '';
            position: absolute;
            background-image: url('../images/arrow.svg');
            background-repeat: no-repeat;
            background-size: contain;
            width: 12px;
            height: 10px;
            right: -20px;
            top: 7px;
          } 
        }
      }
      &__img {
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }
    &-bottom {
      display: flex;
      justify-content: space-between;
      &-link {
        width: 304px;
        height: 216px;
        position: relative;
        background: linear-gradient(0deg, #383C45 0%, rgba(56, 60, 69, 0.3) 100%);
        border-radius: 16px;
        z-index: 6;
        
        &__img {
          margin: auto;
          width: 304px;
          height: 216px;
          object-fit: cover;
          position: absolute;
          &:before {
            background: linear-gradient(0deg, #383C45 0%, rgba(56, 60, 69, 0.3) 100%);
            border-radius: 16px;
          }
          &--mim {
            width: 640px;
            height: 463px;
            position: absolute;
          }
          &--play {
            position: absolute;
            width: 40px;
            height: 40px;
            left: 0;
            right: 0;
            top: 100px;
            bottom: 0;
            margin: auto;
            object-fit: contain;

          }
        }
        &__text {
          // position: absolute;
          font-family: Proxima Nova Soft;
          font-style: normal;
          font-weight: bold;
          font-size: 18px;
          line-height: 22px;
          letter-spacing: 0.12px;
          color: #FFFFFF;
          position: absolute;
          &--data1 {
            position: absolute;
            left: 20px;
            top: 20px;
          }
          &--data2 {
            position: absolute;
            right: 20px;
            top: 20px;
          }
          &--data3 {
            position: absolute;
            left: 20px;
            bottom: 20px;
          }
        }
        &--midl {
          width: 640px;
          height: 464px;
          
          
        }

      }
    }

  }
}

.section4 {
  position: relative;
  &__img {
    position: absolute;
    left: 0;
    top: 0;
  }
  &-inner {
    &__img {
      position: absolute;
      right: 250px;
      top: -180px;
    }
    &__title {
      font-family: Proxima Nova Soft;
      font-style: normal;
      font-weight: bold;
      font-size: 32px;
      line-height: 125.34%;
      text-align: center;
      margin-bottom: 32px; 
      color: #558EF7;
    }
    &-block {
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin-bottom: 32px;
      &-link {
        background: linear-gradient(251.35deg, #00A1FF 0%, #0081CC 100%);
        border-radius: 40px;
        width: 304px;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        &--gren {
          background: linear-gradient(251.53deg, #60D77A 0%, #05A227 100.8%);
        }
        
        &__text {
          font-family: Proxima Nova Soft;
          font-style: normal;
          font-weight: bold;
          font-size: 28px;
          line-height: 125.34%;
          color: #FFFFFF;
          width: 99px;
        }
        &__img {

        }
      }
      &-midl {
        width: 416px;
        height: 260px;
        display: flex;
        justify-content: center;
        background: linear-gradient(216.58deg, #B469F7 0%, #8F26EE 100%);
        border-radius: 40px;
        &-link {
          margin: 0;
          &__img {
            margin: 50px 0 0 0;
            
          }
        }
        &-text {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin: 70px 0 0 0;
          font-family: Proxima Nova Soft;
          font-style: normal;
          font-weight: bold;
          font-size: 28px;
          line-height: 119.34%;
          color: #FFFFFF;
          padding: 0 6 0 23px;
          opacity: 0.95;
          &__span {
            font-family: Proxima Nova Soft;
            font-style: normal;
            font-weight: bold;
            font-size: 36px;
            line-height: 119.34%;
            color: #FFFFFF;
            &--small {
             font-family: Proxima Nova Soft;
             font-style: normal;
             font-weight: bold;
             font-size: 36px;
             line-height: 119.34%;
             color: #FFFFFF;

            }
          }
        }
      }
    }
    &-dots {
      width: 100%;
      // height: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 204px;


      &__span {
        width: 12px;
        height: 12px;
        border-radius: 24px;
        background: #fd9147;
        display: block;
        
        &--midl {
         width: 116px;
         margin: 0 8px;
        }
      }
    }
    &__img3 {
      position: absolute;
      right: 300px;
      bottom: -200px;
    }
    &__img4 {
      position: absolute;
      left: 300px;
      bottom: -200px;
    }
  }
}

.section5 {
  position: relative;
  &__img1 {
    position: absolute;
    left: 0;
    top: 400px;
  }
  &__img2 {
    position: absolute;
    right: 0;
    top: 700px;
  }
  &__title {
    font-family: Proxima Nova Soft;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 125.34%;
    text-align: center;
    margin-bottom: 16px;  
    color: #558EF7;
  }
  &__text {
    font-family: Proxima Nova Soft;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 125.34%;
    text-align: center;
    color: #5D748A;
    margin-bottom: 32px;
    width: 416px;
    margin: auto;
    margin-bottom: 32px;
  }
  &-inner {
    display: flex;
    width: 100%;
    overflow: hidden;
    margin-bottom: 32px;
    &-block {
      background: #FFFFFF;
      box-shadow: 0px 10px 20px rgba(106, 123, 145, 0.05);
      border-radius: 16px;
      padding: 24px;
      margin: 0 32px;
      &__link {
        font-family: Proxima Nova Soft;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.24px;
        color: #5D748A;
        display: inline-block;
        margin-bottom: 20px;
      }
      &__text {
        width: 368px;
        font-family: Proxima Nova Soft;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 130.3%;
        color: #5D748A;
        opacity: 0.5;
      }
    }
  }
  &-dots {
    width: 100%;
    // height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 204px;
    
    
    &__span {
      width: 12px;
      height: 12px;
      border-radius: 24px;
      background: #fd9147;
      display: block;
      margin-left: 8px;
      &--width {
        width: 116px;
      }
      &--last {
        margin-right: 90px;
      }
    }
    &-link {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: #fff;
      margin-right: 30px;
      position: relative;
      &--row {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: #fff;
        margin-right: 30px;
      }
      &__img {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        &--next {
          transform: rotate(180deg);
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          margin: auto;
        }
      }
    }
  }
}


.section6 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 124px;
  &__img {

  }
  &-inner {
    // width: 528px;
    height: auto;

    &-top {
      width: 528px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 48px;
      &__link {
        font-family: Proxima Nova Soft;
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 125.34%;
        color: #558EF7;
        width: 238px;

      }

    }
    &-midl {
      display: flex;
      align-items: center;
      margin-bottom: 48px;
      &-left {
        display: flex;
        flex-direction: column;
        margin-right: 112px;
        padding-left: 80px;
        &__link {
          font-family: Proxima Nova Soft;
          font-style: normal;
          font-weight: 600;
          font-size: 18px;
          line-height: 125.34%;
          color: #5D748A;
          width: 112px;
          margin: auto;
          margin-bottom: 34px;
          position: relative;
          &:hover {
            color: #558EF7;
          }
          &:before {
            @include beforeAfter(url('../images/top.svg'), #fff, contain, center, 90px, 90px, 0, -20px, 150px, -100px);
            // padding: 15px;
            // background: #fff;
            background-repeat: no-repeat;

          }
          &--suzish {
            position: relative;

            &:before {
              @include beforeAfter(url('../images/icons8-chevron_right2.svg'), #fff, contain, center, 90px, 90px, 0, -20px, 150px, -100px);
              // padding: 15px;
              // background: #fff;
              background-repeat: no-repeat;

            }
          }
          &--yugurish {
            position: relative;

            &:before {
              @include beforeAfter(url('../images/icons8-chevron_right4.svg'), #fff, contain, center, 90px, 90px, 0, -20px, 150px, -100px);
              // padding: 15px;
              // background: #fff;
              background-repeat: no-repeat;

            }
          }
          
        }
      }
      &-right {
        display: flex;
        flex-direction: column;
        &__link {
          font-family: Proxima Nova Soft;
          font-style: normal;
          font-weight: 600;
          font-size: 18px;
          line-height: 125.34%;
          color: #5D748A;
          width: 112px;
          margin: auto;
          margin-bottom: 34px;
          position: relative;
          &:hover {
            color: #558EF7;
          }
          &--tennis {
            position: relative;

            &:before {
              @include beforeAfter(url('../images/icons8-chevron_right5.svg'), #fff, contain, center, 90px, 90px, 0, -20px, 150px, -100px);
              // padding: 15px;
              // background: #fff;
              background-repeat: no-repeat;

            }
          }

          &--gimnastika {
            position: relative;

            &:before {
              @include beforeAfter(url('../images/icons8-chevron_right6.svg'), #fff, contain, center, 90px, 90px, 0, -20px, 150px, -100px);
              // padding: 15px;
              // background: #fff;
              background-repeat: no-repeat;

            }
          }

          &--boshqa {
            position: relative;

            &:before {
              @include beforeAfter(url('../images/icons8-chevron_right7.svg'), #fff, contain, center, 90px, 90px, 0, -20px, 150px, -100px);
              // padding: 15px;
              // background: #fff;
              background-repeat: no-repeat;

            }
          }
        }
      }
    }
    &-bottom {
      padding: 8px 20px 8px 20px;
      background: #fff;
      box-shadow: 0px 10px 20px rgba(106, 123, 145, 0.05);
      border-radius: 16px;
      display: flex;
      justify-content: center;
      &-link {
        font-family: Proxima Nova Soft;
        font-style: normal;
        font-weight: bold;
        font-size: 52px;
        line-height: 125.34%;
        color: #558EF7;
        display: flex;
        align-items: center;
        
        &-ta {
          display: flex;
          flex-direction: column;
          &__span {
            font-family: Proxima Nova Soft;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 130.3%;
            color: #5D748A;
            opacity: 0.5;
            margin-left: 12px;
            &--big {
              font-family: Proxima Nova Soft;
              font-style: normal;
              font-weight: 600;
              font-size: 18px;
              line-height: 125.34%;
              opacity: 1;
              color: #5D748A;
              margin-left: 12px;
            }
          }
        }  
      }
    }
  }
}

.section7 {
  margin-bottom: 100px; 
  &-inner {
    // margin-top: 46px !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__img {
      width: 435px;
      height: 417px;
      object-fit: cover;
    }
    &-block {
      width: 752px;
      height: 448px;
      padding: 46px 32px 0 32px;
      box-sizing: border-box;
      background: #FFFFFF;
      border-radius: 16px;
      &-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 28px;
        &__link {
          
          font-family: Proxima Nova Soft;
          font-style: normal;
          font-weight: bold;
          font-size: 32px;
          line-height: 38px;
          color: #558EF7;
        }
      }
      &-information {
        width: 688px;
        height: 66px;
        background: #FFF4E9;
        border-radius: 12px;
        display: flex;
        align-items: center;
        margin-bottom: 29px;
        &--midl {
          background: #F3F3F3;
        }
        &--last {
          background: #F3F3F3;
        }
        &-link {
          display: flex;
          flex-direction: column;
          margin-right: 132px; 
          font-family: Proxima Nova Soft;
          font-style: normal;
          font-weight: bold;
          font-size: 18px;
          line-height: 22px;
          color: #16233C;
          padding-left: 90px;
          position: relative;
          
          &:before {
            @include beforeAfter(url('../images/qizcha.png'),transparent,contain,center,58px,54px,0,0,0,-190px,)
          }
          &--abdu {
            &:before {
              @include beforeAfter(url('../images/abdu.png'), transparent, contain, center, 58px, 54px, 0, 0, 0, -190px, )
            }
          }
          &--odil {
            &:before {
              @include beforeAfter(url('../images/odil.png'), transparent, contain, center, 58px, 54px, 0, 0, 0, -190px, )
            }
          }
          &__span {
            font-family: Proxima Nova Soft;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            color: #467FFF;
          }
        }
        &__span {
          padding-right: 63px;
          font-family: Proxima Nova Soft;
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 22px;
          color: #00B527;
          display: block;
          position: relative; 

          &:before {
            @include beforeAfter(url('../images/star.svg'), transparent, contain, center, 34px, 31px, 0, 0, 0, -160px, );
          }
          &--last {
            position: relative;

            &:before {
              @include beforeAfter(url('../images/pult.svg'), transparent, contain, center, 31.88px, 23.88px, 0, 0, 0, -160px, );
              background-repeat: no-repeat;
            } 
            &::after {
              @include beforeAfter(url('../images/medal.svg'), transparent, contain, center, 73px, 97px, 0, -20px, -150px  );
              background-repeat: no-repeat;
            }    
          }
          &--last2 {
            position: relative;

            &:before {
              @include beforeAfter(url('../images/pult.svg'), transparent, contain, center, 31.88px, 23.88px, 0, 0, 0, -160px, );
              background-repeat: no-repeat;
            } 
            &::after {
              @include beforeAfter(url('../images/medal2.svg'), transparent, contain, center, 73px, 97px, 0, -27px, -150px  );
              background-repeat: no-repeat;
            }    
          }
          &--last3 {
            position: relative;

            &:before {
              @include beforeAfter(url('../images/pult.svg'), transparent, contain, center, 31.88px, 23.88px, 0, 0, 0, -160px, );
              background-repeat: no-repeat;
            } 
            &::after {
              @include beforeAfter(url('../images/medal3.svg'), transparent, contain, center, 73px, 97px, 0, -27px, -160px  );
              background-repeat: no-repeat;
            }    
          }
        }
      }
    }
  }
}


.section8 {
  &__title {
    font-family: Proxima Nova Soft;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 125.34%;
    text-align: center;

    color: #558EF7;

  }
  &-inner {
    background: #F0F3F7;
    padding: 32px 0;
    margin-bottom: 132px;
    &-karousel {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 32px;
      &-block {
        position: relative;
        &__img {
           border-radius: 16px
        }
        &__name {
          position: absolute;
          bottom: 40px;
          left: 32px;
          font-family: Proxima Nova Soft;
          font-style: normal;
          font-weight: bold;
          font-size: 18px;
          line-height: 22px;
          /* identical to box height */

          letter-spacing: 0.24px;

          color: #FFFFFF;

        }
        &__text {
          font-family: Proxima Nova Soft;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 17px;
          letter-spacing: 0.24px;
          position: absolute; 
          color: #FFFFFF;
          bottom: 20px;
          left: 32px;
          opacity: 0.6;
        }
      }
    }
    &-dots {
      width: 100%;
      // height: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      // margin-bottom: 132px;
      &__span {
        width: 12px;
        height: 12px;
        border-radius: 24px;
        background: #fd9147;
        opacity: 0.4;
        display: block;
        margin-left: 8px;
        &--midl {
          width: 116px;
          background: #FD9147;
          opacity: 1;
        }
        &--side {
          width: 32px;
          background: linear-gradient(166.82deg, #FEA244 -0.4%, #FD9147 61.84%);
          opacity: 0.4;
          border-radius: 6px;
        }
      }
    }
  }
}

.section9 {
  background: #5D748A;
  border-radius: 16px;
  padding: 0;
  margin-bottom: 138px;
  &-inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 229px;
    border-radius: 16px;
    display: flex;
    padding: 0;
    @include backgroundImg(url('../images/Vector6.png'),transparent,auto,right );
    &__title {
      width: 536px;
      font-family: Proxima Nova Soft;
      font-style: normal;
      font-weight: bold;
      font-size: 31px;
      line-height: 162.5%;
      letter-spacing: 0.12px;
      color: #FFFFFF;
      padding: 64px 0 65px 64px;
    }
    &-mesengers {
      &-link {
        &__img {
          fill: #5d748a;
          &:hover {
            fill: #fd9147;

          }
        }
      }
    }
  }
}

.footer {
  &-inner {
    display: flex;
    padding-bottom: 54px;
    border-bottom: 4px solid #7569DE;
    
    border-radius: 16px 16px 0px 0px;
    &-left {
      margin-right: 145px;
      &-logoLink {
        display: flex;
        font-family: Proxima Nova Soft;
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 110.84%;
        color: #5D748A;
        width: 225px;
        margin: auto;
        margin-left: 0;
        margin-bottom: 52px;
        &:hover {
          color: #fd9147;

        }
        &__img {
          margin-right: 24px;

        }
      }
      &__text {
        font-family: Proxima Nova Soft;
        font-style: normal;
        font-weight: 500;
        font-size: 17px;
        line-height: 20px;
        color: #5D748A;
        opacity: 0.7;
        width: 270px;
        margin: auto;
        margin-left: 0;
        &--midl {
          width: 303px;
          margin-bottom: 52px;
        }
      }
    }
    &-right {
      
      &-top {
        display: flex;
        margin-bottom: 54px;
        &-first {
          margin-right: 156px;
          &__title {
            font-family: Proxima Nova Soft;
            font-style: normal;
            font-weight: bold;
            font-size: 17px;
            line-height: 20px;
            color: #5D748A;
          }
          &-ul {
            padding: 0;
            &-li {
              margin-bottom: 8px;
              list-style-type: none;
              &__link {
                font-family: Proxima Nova Soft;
                font-style: normal;
                font-weight: 500;
                font-size: 17px;
                line-height: 20px;
                color: #5D748A;
                opacity: 0.7;
                &:hover {
                  color: #fd9147;

                }
              }
            }
          }
        }
        &-midl {
          margin-right: 101px;
          &__title {
            font-family: Proxima Nova Soft;
            font-style: normal;
            font-weight: bold;
            font-size: 17px;
            line-height: 20px;
            color: #5D748A;
          }
          &-ul {
            padding: 0;
            &-li {
              margin-bottom: 8px;
              list-style-type: none;
              &__link {
                font-family: Proxima Nova Soft;
                font-style: normal;
                font-weight: 500;
                font-size: 17px;
                line-height: 20px;
                color: #5D748A;
                opacity: 0.7;
                &:hover {
                  color: #fd9147;

                }
              }
            }
          }
        }
        &-last {
          margin-right: 101px;
          &__title {
            font-family: Proxima Nova Soft;
            font-style: normal;
            font-weight: bold;
            font-size: 17px;
            line-height: 20px;
            color: #5D748A;
          }
          &-ul {
            padding: 0;
            &-li {
              margin-bottom: 8px;
              list-style-type: none;
              &__link {
                font-family: Proxima Nova Soft;
                font-style: normal;
                font-weight: 500;
                font-size: 17px;
                line-height: 20px;

                /* TextC / DarkC */

                color: #5D748A;
                opacity: 0.7;  
                &:hover {
                  color: #fd9147;

                }
              }
            }
          }
        }
      }
      &-bottom {
        display: flex;
        justify-content: space-between;
        &__text {
          font-family: Proxima Nova Soft;
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 147.5%;
          color: #5D748A;
          position: relative;
          padding: 24px 149px 24px 32px;
          background-color: #fff;
          box-shadow: 0px 10px 20px rgba(106, 123, 145, 0.05);
          border-radius: 16px;
          &:hover {
            color: #fd9147;

          }
          &::after {
            content: '';
            position: absolute;
            background-image: url('../images/Layer.svg');
            background-repeat: no-repeat;
            background-size: contain;
            width: 105px;
            height: 13px;
            right: 19px;
            top: 30px;
            z-index: 3;
            

          }
              
          
        }
        &-mesengers {
          &__text {
            font-family: Proxima Nova Soft;
            font-style: normal;
            font-weight: bold;
            font-size: 17px;
            line-height: 20px;
            color: #5D748A;
            margin-bottom: 16px;

          }
          &-link {
            margin: 0;
            &__img {
              margin: 0;
              width: 48px;
              height: 48px;
              object-fit: contain;
              fill: #5d748a;

              &:hover {
                fill: #fd9147;

              }
            }
          }
        }
      }
    }
  }
}


  



//  tablet versiya 


  @media screen and (max-width: 922px) {

    .overlay {

    }
    .form {
      &-java {
        &__img {

        }
      }
      &__title {

      }
      &__label {

      }
      &__inp {

      }
      &__btn {

      }
      &-main {
        &__check {

        }
        &__link {

        }
      }
      &__link {

      }
      
      

    }

    .header {
      &-inner {
        &-left {
          &-logoLink {
            &__img {

            }
          }
        }
        &-right {
          &-link {
            &--hous {

            }
            &--ozb {

            }
          }
        }
      }
    }
    .section1 {
      &__img {

      }
      &-topImg {
        &__img {
          &--pad {

          }
        }
      }
      &-inner {
        &-left {
          &__title {

          }
        }
        &-right {
          &__img {

          }
        }
      }
      &__img {

      }
      &-dots {
        &__span {
          &--center {

          }
        }
      }

    }
    .section2 {
      &-inner {
        &-block {
          &__title {

          }
          &__text {

          }
        }
        &__img {

        }
      }
    }

    .section3 {
      &__img1 {

      }
      &-inner {

      
        &-top {
          &-link {
            &__img {
              &--play {

              }

            }
            &__text {
              &--data {

              }
              &--futbol {

              }
              &--title {

              }
            }
            

          }
          &-news {
            &__title {

            }
            &__text {

            }
            &__link {

            }
          }
        }
        &-bottom {
          &-link {
            &--first {

            }
            &--midl {

            }
            &--last {

            }
            &__img {
              &--play {

              }
            }
            &__text {
              &--data1 {
                
              }
              &--data2 {

              }
              &--data3 {

              }
            }
          }
        }
        &__img {

        }
      }
    }

    .section4 {
      &__img {

      }
      &-inner {
        &__img {

        }
        &__title {

        }
        &-block {
          &-link {
            &--gren {

            }
            &__text {

            }
            &__img {

            }
          }
          &-midl {
            &-link {
              &__img {
                &--right {

                }
              }
              &-text {
                &__span {
                  &--small {

                  }
                }
              }
            }
          }

        }

        &-dots {
          &__span {
            &--midl {

            }
          }
        }

        &__img3 {
          
        }
        &__img4 {

        }


      }
    }

    .section5 {
      &__img1 {
        
      }
      &__img2 {

      }
      &__title {

      }
      &__text {

      }
      &-inner {
        &-block {
          &__link {

          }
          &__text {

          }
        }
      }
      &-dots {
        &__span {
          &--width {
            
          }
          &--last {

          }
        }
        &-link {
          &--row {

          }
          &__img {
            &--next {

            }
          }
        }
      }

    }

    .section6 {
      &__img {
        
      }
      &-inner {
        &-top {
          &__link {

          }
        } 
        &-midl {
          &-left {
            &__link {
              &--suzish {
                
              }
              &--yugurish {

              }
              
            }
          }
          &-right {
            &__link {
              &--tennis {
                
              }
              &--gimnastika {

              }
              &--boshqa {

              }
            }
          }
        } 

        &-bottom {
          &-link {
            &-ta {
              &__span {
                &--big {

                }
              }
            }
          }
        }
      }
    }

    .section7 {
      &-inner {
        &-block {
          &-top {
            &__link {

            }
          }
          &-information {
            &--midl {

            }
            &--last {

            }
            
            &-link {
              &--abdu {
                
              }
              &--odil {

              }
              &__span {
                
              }
            }
            &__span {
              &--span2 {

              }
              &--span3 {

              }
            }
          }
        }
      }
    }

    .section8 {
      &__title {

      }
      &-inner {
        &-karousel {
          &-block {
            &__img {

            }
            &__name {

            }
            &__text {

            }
          }
        }
        &-dots {
          &__span {
            &--side {
              
            }
            &--midl {

            }
          }
        }
      }
    }

    .section9 {
      &-inner {
        &__title {

        }
        &-mesengers {
          &-link {
            &__img {

            }
          }
        }
      }
    }

    .footer {
      &-inner {
        &-left {
          &-logolink {
            &__img {

            }
          }
          &__text {

          }
        }
        &-right {
          &-top {
            &-first {
              &__title {

              }
              &-ul {
                &-li {
                  &__link {

                  }
                }
              }
            }
            &-midl {
              &__title {

              }
              &-ul {
                &-li {
                  &__link {

                  }
                }
              }
            }
            &-last {
              &__title {

              }
              &-ul {
                &-li {
                  &-link {

                  }
                }
              }
            }
          }
          &-bottom {
            &__text {

            }
            &-mesengers {
              &__text {

              }
              &-link {
                &__img {
                  
                }
              }
            }
          }
        }
      } 
    }
  }




// planshet versiya 


  @media screen and (max-width: 768px) {

    .overlay {

    }
    .form {
      &-java {
        &__img {

        }
      }
      &__title {

      }
      &__label {

      }
      &__inp {

      }
      &__btn {

      }
      &-main {
        &__check {

        }
        &__link {

        }
      }
      &__link {

      }
      
      

    }

    .header {
      &-inner {
        &-left {
          &-logoLink {
            &__img {

            }
          }
        }
        &-right {
          &-link {
            &--hous {

            }
            &--ozb {

            }
          }
        }
      }
    }
    .section1 {
      &__img {

      }
      &-topImg {
        &__img {
          &--pad {

          }
        }
      }
      &-inner {
        &-left {
          &__title {

          }
        }
        &-right {
          &__img {

          }
        }
      }
      &__img {

      }
      &-dots {
        &__span {
          &--center {

          }
        }
      }

    }
    .section2 {
      &-inner {
        &-block {
          &__title {

          }
          &__text {

          }
        }
        &__img {

        }
      }
    }

    .section3 {
      &__img1 {

      }
      &-inner {

      
        &-top {
          &-link {
            &__img {
              &--play {

              }

            }
            &__text {
              &--data {

              }
              &--futbol {

              }
              &--title {

              }
            }
            

          }
          &-news {
            &__title {

            }
            &__text {

            }
            &__link {

            }
          }
        }
        &-bottom {
          &-link {
            &--first {

            }
            &--midl {

            }
            &--last {

            }
            &__img {
              &--play {

              }
            }
            &__text {
              &--data1 {
                
              }
              &--data2 {

              }
              &--data3 {

              }
            }
          }
        }
        &__img {

        }
      }
    }

    .section4 {
      &__img {

      }
      &-inner {
        &__img {

        }
        &__title {

        }
        &-block {
          &-link {
            &--gren {

            }
            &__text {

            }
            &__img {

            }
          }
          &-midl {
            &-link {
              &__img {
                &--right {

                }
              }
              &-text {
                &__span {
                  &--small {

                  }
                }
              }
            }
          }

        }

        &-dots {
          &__span {
            &--midl {

            }
          }
        }

        &__img3 {
          
        }
        &__img4 {

        }


      }
    }

    .section5 {
      &__img1 {
        
      }
      &__img2 {

      }
      &__title {

      }
      &__text {

      }
      &-inner {
        &-block {
          &__link {

          }
          &__text {

          }
        }
      }
      &-dots {
        &__span {
          &--width {
            
          }
          &--last {

          }
        }
        &-link {
          &--row {

          }
          &__img {
            &--next {

            }
          }
        }
      }

    }

    .section6 {
      &__img {
        
      }
      &-inner {
        &-top {
          &__link {

          }
        } 
        &-midl {
          &-left {
            &__link {
              &--suzish {
                
              }
              &--yugurish {

              }
              
            }
          }
          &-right {
            &__link {
              &--tennis {
                
              }
              &--gimnastika {

              }
              &--boshqa {

              }
            }
          }
        } 

        &-bottom {
          &-link {
            &-ta {
              &__span {
                &--big {

                }
              }
            }
          }
        }
      }
    }

    .section7 {
      &-inner {
        &-block {
          &-top {
            &__link {

            }
          }
          &-information {
            &--midl {

            }
            &--last {

            }
            
            &-link {
              &--abdu {
                
              }
              &--odil {

              }
              &__span {
                
              }
            }
            &__span {
              &--span2 {

              }
              &--span3 {

              }
            }
          }
        }
      }
    }

    .section8 {
      &__title {

      }
      &-inner {
        &-karousel {
          &-block {
            &__img {

            }
            &__name {

            }
            &__text {

            }
          }
        }
        &-dots {
          &__span {
            &--side {
              
            }
            &--midl {

            }
          }
        }
      }
    }

    .section9 {
      &-inner {
        &__title {

        }
        &-mesengers {
          &-link {
            &__img {

            }
          }
        }
      }
    }

    .footer {
      &-inner {
        &-left {
          &-logolink {
            &__img {

            }
          }
          &__text {

          }
        }
        &-right {
          &-top {
            &-first {
              &__title {

              }
              &-ul {
                &-li {
                  &__link {

                  }
                }
              }
            }
            &-midl {
              &__title {

              }
              &-ul {
                &-li {
                  &__link {

                  }
                }
              }
            }
            &-last {
              &__title {

              }
              &-ul {
                &-li {
                  &-link {

                  }
                }
              }
            }
          }
          &-bottom {
            &__text {

            }
            &-mesengers {
              &__text {

              }
              &-link {
                &__img {

                }
              }
            }
          }
        }
      } 
    }
  }

// mobil  versiya 

  @media screen and (max-width: 576px) {

    .overlay {

    }
    .form {
      &-java {
        &__img {

        }
      }
      &__title {

      }
      &__label {

      }
      &__inp {

      }
      &__btn {

      }
      &-main {
        &__check {

        }
        &__link {

        }
      }
      &__link {

      }
      
      

    }

    .header {
      &-inner {
        &-left {
          &-logoLink {
            &__img {

            }
          }
        }
        &-right {
          &-link {
            &--hous {

            }
            &--ozb {

            }
          }
        }
      }
    }
    .section1 {
      &__img {

      }
      &-topImg {
        &__img {
          &--pad {

          }
        }
      }
      &-inner {
        &-left {
          &__title {

          }
        }
        &-right {
          &__img {

          }
        }
      }
      &__img {

      }
      &-dots {
        &__span {
          &--center {

          }
        }
      }

    }
    .section2 {
      &-inner {
        &-block {
          &__title {

          }
          &__text {

          }
        }
        &__img {

        }
      }
    }

    .section3 {
      &__img1 {

      }
      &-inner {

      
        &-top {
          &-link {
            &__img {
              &--play {

              }

            }
            &__text {
              &--data {

              }
              &--futbol {

              }
              &--title {

              }
            }
            

          }
          &-news {
            &__title {

            }
            &__text {

            }
            &__link {

            }
          }
        }
        &-bottom {
          &-link {
            &--first {

            }
            &--midl {

            }
            &--last {

            }
            &__img {
              &--play {

              }
            }
            &__text {
              &--data1 {
                
              }
              &--data2 {

              }
              &--data3 {

              }
            }
          }
        }
        &__img {

        }
      }
    }

    .section4 {
      &__img {

      }
      &-inner {
        &__img {

        }
        &__title {

        }
        &-block {
          &-link {
            &--gren {

            }
            &__text {

            }
            &__img {

            }
          }
          &-midl {
            &-link {
              &__img {
                &--right {

                }
              }
              &-text {
                &__span {
                  &--small {

                  }
                }
              }
            }
          }

        }

        &-dots {
          &__span {
            &--midl {

            }
          }
        }

        &__img3 {
          
        }
        &__img4 {

        }


      }
    }

    .section5 {
      &__img1 {
        
      }
      &__img2 {

      }
      &__title {

      }
      &__text {

      }
      &-inner {
        &-block {
          &__link {

          }
          &__text {

          }
        }
      }
      &-dots {
        &__span {
          &--width {
            
          }
          &--last {

          }
        }
        &-link {
          &--row {

          }
          &__img {
            &--next {

            }
          }
        }
      }

    }

    .section6 {
      &__img {
        
      }
      &-inner {
        &-top {
          &__link {

          }
        } 
        &-midl {
          &-left {
            &__link {
              &--suzish {
                
              }
              &--yugurish {

              }
              
            }
          }
          &-right {
            &__link {
              &--tennis {
                
              }
              &--gimnastika {

              }
              &--boshqa {

              }
            }
          }
        } 

        &-bottom {
          &-link {
            &-ta {
              &__span {
                &--big {

                }
              }
            }
          }
        }
      }
    }

    .section7 {
      &-inner {
        &-block {
          &-top {
            &__link {

            }
          }
          &-information {
            &--midl {

            }
            &--last {

            }
            
            &-link {
              &--abdu {
                
              }
              &--odil {

              }
              &__span {
                
              }
            }
            &__span {
              &--span2 {

              }
              &--span3 {

              }
            }
          }
        }
      }
    }

    .section8 {
      &__title {

      }
      &-inner {
        &-karousel {
          &-block {
            &__img {

            }
            &__name {

            }
            &__text {

            }
          }
        }
        &-dots {
          &__span {
            &--side {
              
            }
            &--midl {

            }
          }
        }
      }
    }

    .section9 {
      &-inner {
        &__title {

        }
        &-mesengers {
          &-link {
            &__img {

            }
          }
        }
      }
    }

    .footer {
      &-inner {
        &-left {
          &-logolink {
            &__img {

            }
          }
          &__text {

          }
        }
        &-right {
          &-top {
            &-first {
              &__title {

              }
              &-ul {
                &-li {
                  &__link {

                  }
                }
              }
            }
            &-midl {
              &__title {

              }
              &-ul {
                &-li {
                  &__link {

                  }
                }
              }
            }
            &-last {
              &__title {

              }
              &-ul {
                &-li {
                  &-link {

                  }
                }
              }
            }
          }
          &-bottom {
            &__text {

            }
            &-mesengers {
              &__text {

              }
              &-link {
                &__img {

                }
              }
            }
          }
        }
      } 
    }
  }

